
<ul class="guidelines-tabs">
  {{#each pillars}}
    <li><a href="#{{number}}" class="tab-link">{{short}}</a></li>
  {{/each}}
</ul>
{{#if guidelines}}
  <ul class="guidelines-index">
    {{#each guidelines}}
      <li class="guidelines" data-id={{id}} id="guideline-{{id}}">
        <a class="guideline" href="#"><span class="guideline-num">Guideline {{id}}: </span>"{{name}}"</a>
        {{!-- <span class="score country-a">{{this.score}}</span>
        <a href="#" class="rrss"></a> --}}
        <button class="more-info more-info-guideline">?</button>
      </li>
    {{/each}}
  </ul>
{{/if}}
